# ignora carpeta de imagenes
imagenes/
# ignora mas imagenes
full-stack/aja/imagenes/
full-stack/aprendiendo/aprendiendo1/imagenes
# ignora videos

#ignora las fuentes de texto de cursoDalto
Full-stack/cursoDalto_HTMLyCSS/text-fonts
