body{
    background-color: bisque;
}
.maintitle{
    margin: 0;
    background-color: aqua;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    
}
.barraNav{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 1em;
}
.enlaces{
    padding: 1em;
    text-decoration: none;
    color: black;
}
.mainbody{
    margin: 7px;
    padding: 1em;
    background-color: grey;
    border-radius: 1em;
    border-color: greenyellow;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQJqwKhCduh-oe-mJ1u2GURHlyzpPGbPtsMUlbk8ZMcQ&s") top / cover fixed;
}
.img{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    border: 7px;
    border-radius: 0.5em;
}

/* //   // // // // // // 7/ // */

.titulo{
    background-color: #6fa;
}