.body{
    width: 90%;
    margin: auto;
}
.div1{
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
}

.titulo1{
    margin: 0;
    font-size: 20px;
}
span{
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p {
    color: #555;
}