body{
    background-color: chocolate;
}
.img{
    height: 420px;
    width: auto;
    /* display: flexbox;
    justify-content: center;
    align-items: center; */
}
.container{
    display: flex;
    align-items:center;
    justify-content: center;
}
.header{
    border-radius: 11px;
    margin: 7px;
    padding: .25em;
    background-color: rgb(189, 189, 65);

}
.main{
    border-radius: 11px;
    margin: 11px;
    padding: 7px;
    background-color: bisque;

}
.article{
    padding: .25em;
    margin: .3em;
    border-radius: 7px;
    background-color: azure;
}
.titulo{
    color: aqua;
    margin: 11px;
    padding: 7px;
    border-radius: 11px;
    background-color: rgb(70, 70, 46);
}
#tituloPrincipal{
    font-size: 3em;
}
#not1{
    background-color: black;
}
.parrafo{
    margin: .25em;
    padding: .25em;
    border-radius: 7px;
    background-color: aquamarine;
}
.menuBarraPrincipal{
    padding: 7px;
    margin: 7px;

}
.span{
    padding: .5em;
    margin: .5em;
    background-color: rgb(255, 151, 151);
    border-radius: 3px;
}
.footer{
    background-color: cadetblue;
    border-radius: 11px;
    margin: .25em;
    padding: .5em;
}